.select {
  position: relative;
  width: 100%;
  max-width: 100%;
}

.select__native {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.select__layer {
  pointer-events: auto;
}
